<div class="main-column-width" infinite-scroll="ctrl.loadMore('infinitescroll')" infinite-scroll-distance="0.5" infinite-scroll-disabled="ctrl.disableInfiniteScroll || !ctrl.ct || ctrl.loading" infinite-scroll-parent="true">
        <!----><div ng-if="ctrl.searching || ctrl.isEmbeddedView()" class="fp-search-filter-spacer" ng-class="{'fp-search-delete-spacer': ctrl.deleting}">
        </div><!---->
        <!---->
        <!----><div style="" class="fp-date-block-holder" ng-repeat="dateBlock in ctrl.dateBlocks track by dateBlock.date">
          <hist-date-block date-block="dateBlock" display-checkboxes="ctrl.displayCheckboxes()" enable-card-swipe="::ctrl.cardSwipeEnabled()" date-selected="ctrl.dateIsSelected(date, dateBlock, null)" delete-date="ctrl.deleteDate(dateBlock, null, date, cancelSwipe)" delete-item="ctrl.deleteItem(item)" item-selected="ctrl.itemIsSelected(item, date)" select-item="ctrl.selectItem(item)"><div ng-class="::{'swipe-holder': enableCardSwipe}" ng-attr-card-swipe="::enableCardSwipe" delete-cluster="deleteDate({dateBlock: dateBlock, date: dateBlock.date, cancelSwipe: cancelSwipe})"><div class="swipe-div" ng-transclude="">
  <md-card class="fp-date-block _md">
    <md-card-content class="layout-column" layout="column">
      <div class="fp-date-block-date-holder layout-align-center-center layout-row" layout="row" layout-align="center center">
        <md-checkbox aria-invalid="false" aria-checked="false" aria-disabled="false" aria-hidden="true" role="checkbox" type="checkbox" tabindex="0" class="fp-date-block-date-checkbox ng-pristine ng-untouched ng-valid ng-empty ng-hide" ng-hide="!displayCheckboxes" ng-model="dateSelected({date: dateBlock.date})" ng-model-options="{ getterSetter: true }" ng-disabled="dateBlock.items.length == 0 &amp;&amp; dateBlock.bundles.length == 0" aria-label="Yesterday"><div class="md-container md-ink-ripple" md-ink-ripple="" md-ink-ripple-checkbox=""><div class="md-icon"></div></div><div ng-transclude="" class="md-label"></div></md-checkbox>
        <h2 class="t08 fp-date-block-date">Yesterday</h2>
        <div class="flex" flex=""></div>
        <div class="fp-date-block-overflow">
          <md-menu md-position-mode="target-right bottom" class="md-menu _md" ng-attr-md-position-mode="{{'target-right bottom' | rtlMenuPosition}}">
            <button aria-owns="menu_container_161" aria-expanded="false" aria-haspopup="true" ng-click="$mdOpenMenu($event)" aria-label="Open menu" class="md-icon-button fp-md-menu-button md-button md-ink-ripple" type="button" ng-transclude="">
              <img src="https://www.gstatic.com/images/icons/material/system/2x/more_vert_white_24dp.png" alt="" width="24">
            </button>
            
          <div aria-hidden="true" id="menu_container_161" style="display: none;" class="_md md-open-menu-container md-whiteframe-z2"><md-menu-content role="menu" class="history-overflow-menu">
              <md-menu-item>
                <button role="menuitem" aria-label="Delete" ng-click="deleteDate({dateBlock: dateBlock, date: dateBlock.date})" class="md-button md-ink-ripple" type="button" ng-transclude=""><span>
                  Delete
                </span></button>
              </md-menu-item>
            </md-menu-content></div></md-menu>
        </div>
      </div>
      <!---->
    </md-card-content>
  </md-card>
</div>
<!---->
</div>
<!----><div ng-repeat="item in dateBlock.items track by item.getDeleteParam()" class="fp-display-item-holder">
  <div ng-class="::{'swipe-holder': enableCardSwipe}" ng-attr-card-swipe="::enableCardSwipe" delete-cluster="::deleteItem({item: item})" select-card="::selectItem({item: item})"><div class="swipe-div" ng-transclude="">
    <md-card class="fp-display-item-card _md">
      <hist-display-item item="::item" display-checkboxes="displayCheckboxes" delete-item="deleteItem({item: item})" selected="itemSelected({item: item, date: dateBlock.date})" select-item="selectItem({item: item})"><!---->
<md-card-content class="fp-display-item layout-column" layout="column" ng-class="::{'fp-display-item-summary-item': (summaryItem || detailsItem)}">
  <!----><div class="fp-display-item-header" ng-if="::!summaryItem">
    <div layout="row" layout-align="center center" class="fp-display-item-title-holder layout-align-center-center layout-row">
      <div>
        <img src="https://www.gstatic.com/images/branding/product/2x/youtube_24dp.png" class="fp-display-item-title-icon" ng-src="https://www.gstatic.com/images/branding/product/2x/youtube_24dp.png" alt="">
        <!----><div class="fp-checkbox-holder fp-display-item-checkbox-holder" ng-if="::(!detailsItem &amp;&amp; !hideHoverCheckboxes)">
          <div tabindex="0" role="button" class="fp-fake-checkbox" ng-click="::selectItem()"></div>
        </div><!---->
        <!---->
      </div>
      <!---->
      <!----><div tabindex="0" role="button" class="fp-display-item-title t10 g6 flex" ng-if="::!detailsItem" flex="" ng-click="::ctrl.viewItemDetails(item)">
        YouTube
      </div><!---->
      <!----><div class="fp-display-item-overflow" ng-if="::!detailsItem">
        <md-menu md-position-mode="target-right bottom" class="md-menu _md" ng-attr-md-position-mode="{{'target-right bottom' | rtlMenuPosition}}">
          <button aria-owns="menu_container_177" aria-expanded="false" aria-haspopup="true" ng-click="::$mdOpenMenu($event)" aria-label="Open menu" class="md-icon-button fp-md-menu-button md-button md-ink-ripple" type="button" ng-transclude="">
            <img src="https://www.gstatic.com/images/icons/material/system/2x/more_vert_grey600_24dp.png" alt="Opens in new tab" width="24">
          </button>
          
        <div aria-hidden="true" id="menu_container_177" style="display: none;" class="_md md-open-menu-container md-whiteframe-z2"><md-menu-content role="menu" class="history-overflow-menu">
            <md-menu-item>
              <button role="menuitem" aria-label="Details" ng-click="::ctrl.viewItemDetails(item)" class="md-button md-ink-ripple" type="button" ng-transclude=""><span>
                Details
              </span></button>
            </md-menu-item>
            <md-menu-item>
              <button role="menuitem" aria-label="Delete" ng-click="::deleteItem(item)" class="md-button md-ink-ripple" type="button" ng-transclude=""><span>
                Delete
              </span></button>
            </md-menu-item>
          </md-menu-content></div></md-menu>
      </div><!---->
    </div>
  </div><!---->
  <div layout="row" layout-align="space-between" ng-init="::(block = item.getParent())" class="fp-display-block layout-align-space-between-stretch layout-row">
    <div class="fp-display-block-text-holder layout-align-space-between-stretch layout-column flex" layout="column" layout-align="space-between left" flex="">
      <div class="layout-column" layout="column">
        <!---->
        <!----><h4 ng-if="::!detailsItem" class="fp-display-block-title t08">
          Watched
          <!----><a href="https://www.youtube.com/watch?v=SrZ3GthOfnI" ng-if="::!!block.getTitleInfo().getUrl()" ng-href="https://www.youtube.com/watch?v=SrZ3GthOfnI" ng-click="::ctrl.playVideo(block.getYoutubeInfo().getVideoId())" target="_blank">
            How to Play PS2 Roms &amp; Discs on PC (PCSX2) | Full HD 1080p
          </a><!---->
          <!---->
        </h4><!---->
        <!----><div ng-if="::!!block.getYoutubeInfo()">
          <div class="fp-display-block-yt-channel t10 g6">
            e1000 - Tutorials and Reviews
          </div>
        </div><!---->
        <div>
          <!---->
        </div>
        <!---->
      </div>
      <!----><div tabindex="0" role="button" ng-if="::!detailsItem" class="fp-display-block-details t12 g6 layout-align-start-center layout-row" ng-click="::ctrl.viewItemDetails(item)" layout="row" layout-align="left center">
        <!----><span ng-if="::!summaryItem">11:40 PM</span><!---->
        <!----><span ng-if="::!summaryItem">•</span><!---->
        <span class="fp-display-block-details-string">
          Details
        </span>
        <!---->
        <!---->
        <!---->
        <!---->
      </div><!---->
    </div>
    <!---->
    <!----><a href="https://www.youtube.com/watch?v=SrZ3GthOfnI" ng-if="::!!(block.getYoutubeInfo() &amp;&amp; block.getYoutubeInfo().getThumbnail())" ng-href="https://www.youtube.com/watch?v=SrZ3GthOfnI" ng-click="::ctrl.playVideo(block.getYoutubeInfo().getVideoId())" target="_blank" class="fp-display-block-video-holder">
      <div class="fp-display-block-video">
        <img src="https://i.ytimg.com/vi/SrZ3GthOfnI/mqdefault.jpg" class="fp-display-block-video-thumbnail" ng-src="https://i.ytimg.com/vi/SrZ3GthOfnI/mqdefault.jpg" alt="" height="72" width="128">
        <div class="fp-display-item-yt-play">
          <img src="https://www.gstatic.com/images/icons/material/system/2x/play_circle_filled_white_36dp.png" heigth="36" width="36">
        </div>
        <!----><div class="fp-display-item-yt-duration" ng-if="::!!block.getYoutubeInfo().getVideoDuration()">
          3:39
        </div><!---->
      </div>
    </a><!---->
    <!---->
  </div>
  <!---->
  <!---->
</md-card-content>
</hist-display-item>
    </md-card>
  </div>
<!---->
</div>
</div><!----><div ng-repeat="item in dateBlock.items track by item.getDeleteParam()" class="fp-display-item-holder">
  <div ng-class="::{'swipe-holder': enableCardSwipe}" ng-attr-card-swipe="::enableCardSwipe" delete-cluster="::deleteItem({item: item})" select-card="::selectItem({item: item})"><div class="swipe-div" ng-transclude="">
    <md-card class="fp-display-item-card _md">
      <hist-display-item item="::item" display-checkboxes="displayCheckboxes" delete-item="deleteItem({item: item})" selected="itemSelected({item: item, date: dateBlock.date})" select-item="selectItem({item: item})"><!---->
<md-card-content class="fp-display-item layout-column" layout="column" ng-class="::{'fp-display-item-summary-item': (summaryItem || detailsItem)}">
  <!----><div class="fp-display-item-header" ng-if="::!summaryItem">
    <div layout="row" layout-align="center center" class="fp-display-item-title-holder layout-align-center-center layout-row">
      <div>
        <img src="https://www.gstatic.com/images/branding/product/2x/youtube_24dp.png" class="fp-display-item-title-icon" ng-src="https://www.gstatic.com/images/branding/product/2x/youtube_24dp.png" alt="">
        <!----><div class="fp-checkbox-holder fp-display-item-checkbox-holder" ng-if="::(!detailsItem &amp;&amp; !hideHoverCheckboxes)">
          <div tabindex="0" role="button" class="fp-fake-checkbox" ng-click="::selectItem()"></div>
        </div><!---->
        <!---->
      </div>
      <!---->
      <!----><div tabindex="0" role="button" class="fp-display-item-title t10 g6 flex" ng-if="::!detailsItem" flex="" ng-click="::ctrl.viewItemDetails(item)">
        YouTube
      </div><!---->
      <!----><div class="fp-display-item-overflow" ng-if="::!detailsItem">
        <md-menu md-position-mode="target-right bottom" class="md-menu _md" ng-attr-md-position-mode="{{'target-right bottom' | rtlMenuPosition}}">
          <button aria-owns="menu_container_178" aria-expanded="false" aria-haspopup="true" ng-click="::$mdOpenMenu($event)" aria-label="Open menu" class="md-icon-button fp-md-menu-button md-button md-ink-ripple" type="button" ng-transclude="">
            <img src="https://www.gstatic.com/images/icons/material/system/2x/more_vert_grey600_24dp.png" alt="Opens in new tab" width="24">
          </button>
          
        <div aria-hidden="true" id="menu_container_178" style="display: none;" class="_md md-open-menu-container md-whiteframe-z2"><md-menu-content role="menu" class="history-overflow-menu">
            <md-menu-item>
              <button role="menuitem" aria-label="Details" ng-click="::ctrl.viewItemDetails(item)" class="md-button md-ink-ripple" type="button" ng-transclude=""><span>
                Details
              </span></button>
            </md-menu-item>
            <md-menu-item>
              <button role="menuitem" aria-label="Delete" ng-click="::deleteItem(item)" class="md-button md-ink-ripple" type="button" ng-transclude=""><span>
                Delete
              </span></button>
            </md-menu-item>
          </md-menu-content></div></md-menu>
      </div><!---->
    </div>
  </div><!---->
  <div layout="row" layout-align="space-between" ng-init="::(block = item.getParent())" class="fp-display-block layout-align-space-between-stretch layout-row">
    <div class="fp-display-block-text-holder layout-align-space-between-stretch layout-column flex" layout="column" layout-align="space-between left" flex="">
      <div class="layout-column" layout="column">
        <!---->
        <!----><h4 ng-if="::!detailsItem" class="fp-display-block-title t08">
          Watched
          <!----><a href="https://www.youtube.com/watch?v=KirLeTygkyE" ng-if="::!!block.getTitleInfo().getUrl()" ng-href="https://www.youtube.com/watch?v=KirLeTygkyE" ng-click="::ctrl.playVideo(block.getYoutubeInfo().getVideoId())" target="_blank">
            Surface Pro 4 charging through mini external battery!
          </a><!---->
          <!---->
        </h4><!---->
        <!----><div ng-if="::!!block.getYoutubeInfo()">
          <div class="fp-display-block-yt-channel t10 g6">
            Sam Ryu
          </div>
        </div><!---->
        <div>
          <!---->
        </div>
        <!---->
      </div>
      <!----><div tabindex="0" role="button" ng-if="::!detailsItem" class="fp-display-block-details t12 g6 layout-align-start-center layout-row" ng-click="::ctrl.viewItemDetails(item)" layout="row" layout-align="left center">
        <!----><span ng-if="::!summaryItem">10:47 PM</span><!---->
        <!----><span ng-if="::!summaryItem">•</span><!---->
        <span class="fp-display-block-details-string">
          Details
        </span>
        <!---->
        <!---->
        <!---->
        <!---->
      </div><!---->
    </div>
    <!---->
    <!----><a href="https://www.youtube.com/watch?v=KirLeTygkyE" ng-if="::!!(block.getYoutubeInfo() &amp;&amp; block.getYoutubeInfo().getThumbnail())" ng-href="https://www.youtube.com/watch?v=KirLeTygkyE" ng-click="::ctrl.playVideo(block.getYoutubeInfo().getVideoId())" target="_blank" class="fp-display-block-video-holder">
      <div class="fp-display-block-video">
        <img src="https://i.ytimg.com/vi/KirLeTygkyE/mqdefault.jpg" class="fp-display-block-video-thumbnail" ng-src="https://i.ytimg.com/vi/KirLeTygkyE/mqdefault.jpg" alt="" height="72" width="128">
        <div class="fp-display-item-yt-play">
          <img src="https://www.gstatic.com/images/icons/material/system/2x/play_circle_filled_white_36dp.png" heigth="36" width="36">
        </div>
        <!----><div class="fp-display-item-yt-duration" ng-if="::!!block.getYoutubeInfo().getVideoDuration()">
          3:30
        </div><!---->
      </div>
    </a><!---->
    <!---->
  </div>
  <!---->
  <!---->
</md-card-content>
</hist-display-item>
    </md-card>
  </div>
<!---->
</div>
</div><!---->
</hist-date-block>
        </div><!----><div class="fp-date-block-holder" ng-repeat="dateBlock in ctrl.dateBlocks track by dateBlock.date">
          <hist-date-block date-block="dateBlock" display-checkboxes="ctrl.displayCheckboxes()" enable-card-swipe="::ctrl.cardSwipeEnabled()" date-selected="ctrl.dateIsSelected(date, dateBlock, null)" delete-date="ctrl.deleteDate(dateBlock, null, date, cancelSwipe)" delete-item="ctrl.deleteItem(item)" item-selected="ctrl.itemIsSelected(item, date)" select-item="ctrl.selectItem(item)"><div ng-class="::{'swipe-holder': enableCardSwipe}" ng-attr-card-swipe="::enableCardSwipe" delete-cluster="deleteDate({dateBlock: dateBlock, date: dateBlock.date, cancelSwipe: cancelSwipe})"><div class="swipe-div" ng-transclude="">
  <md-card class="fp-date-block _md">
    <md-card-content class="layout-column" layout="column">
      <div class="fp-date-block-date-holder layout-align-center-center layout-row" layout="row" layout-align="center center">
        <md-checkbox aria-invalid="false" aria-checked="false" aria-disabled="false" aria-hidden="true" role="checkbox" type="checkbox" tabindex="0" class="fp-date-block-date-checkbox ng-pristine ng-untouched ng-valid ng-empty ng-hide" ng-hide="!displayCheckboxes" ng-model="dateSelected({date: dateBlock.date})" ng-model-options="{ getterSetter: true }" ng-disabled="dateBlock.items.length == 0 &amp;&amp; dateBlock.bundles.length == 0" aria-label="August 23"><div class="md-container md-ink-ripple" md-ink-ripple="" md-ink-ripple-checkbox=""><div class="md-icon"></div></div><div ng-transclude="" class="md-label"></div></md-checkbox>
        <h2 class="t08 fp-date-block-date">August 23</h2>
        <div class="flex" flex=""></div>
        <div class="fp-date-block-overflow">
          <md-menu md-position-mode="target-right bottom" class="md-menu _md" ng-attr-md-position-mode="{{'target-right bottom' | rtlMenuPosition}}">
            <button aria-owns="menu_container_162" aria-expanded="false" aria-haspopup="true" ng-click="$mdOpenMenu($event)" aria-label="Open menu" class="md-icon-button fp-md-menu-button md-button md-ink-ripple" type="button" ng-transclude="">
              <img src="https://www.gstatic.com/images/icons/material/system/2x/more_vert_white_24dp.png" alt="" width="24">
            </button>
            
          <div aria-hidden="true" id="menu_container_162" style="display: none;" class="_md md-open-menu-container md-whiteframe-z2"><md-menu-content role="menu" class="history-overflow-menu">
              <md-menu-item>
                <button role="menuitem" aria-label="Delete" ng-click="deleteDate({dateBlock: dateBlock, date: dateBlock.date})" class="md-button md-ink-ripple" type="button" ng-transclude=""><span>
                  Delete
                </span></button>
              </md-menu-item>
            </md-menu-content></div></md-menu>
        </div>
      </div>
      <!---->
    </md-card-content>
  </md-card>
</div>
<!---->
</div>
<!----><div ng-repeat="item in dateBlock.items track by item.getDeleteParam()" class="fp-display-item-holder">
  <div ng-class="::{'swipe-holder': enableCardSwipe}" ng-attr-card-swipe="::enableCardSwipe" delete-cluster="::deleteItem({item: item})" select-card="::selectItem({item: item})"><div class="swipe-div" ng-transclude="">
    <md-card class="fp-display-item-card _md">
      <hist-display-item item="::item" display-checkboxes="displayCheckboxes" delete-item="deleteItem({item: item})" selected="itemSelected({item: item, date: dateBlock.date})" select-item="selectItem({item: item})"><!---->
<md-card-content class="fp-display-item layout-column" layout="column" ng-class="::{'fp-display-item-summary-item': (summaryItem || detailsItem)}">
  <!----><div class="fp-display-item-header" ng-if="::!summaryItem">
    <div layout="row" layout-align="center center" class="fp-display-item-title-holder layout-align-center-center layout-row">
      <div>
        <img src="https://www.gstatic.com/images/branding/product/2x/youtube_24dp.png" class="fp-display-item-title-icon" ng-src="https://www.gstatic.com/images/branding/product/2x/youtube_24dp.png" alt="">
        <!----><div class="fp-checkbox-holder fp-display-item-checkbox-holder" ng-if="::(!detailsItem &amp;&amp; !hideHoverCheckboxes)">
          <div tabindex="0" role="button" class="fp-fake-checkbox" ng-click="::selectItem()"></div>
        </div><!---->
        <!---->
      </div>
      <!---->
      <!----><div tabindex="0" role="button" class="fp-display-item-title t10 g6 flex" ng-if="::!detailsItem" flex="" ng-click="::ctrl.viewItemDetails(item)">
        YouTube
      </div><!---->
      <!----><div class="fp-display-item-overflow" ng-if="::!detailsItem">
        <md-menu md-position-mode="target-right bottom" class="md-menu _md" ng-attr-md-position-mode="{{'target-right bottom' | rtlMenuPosition}}">
          <button aria-owns="menu_container_179" aria-expanded="false" aria-haspopup="true" ng-click="::$mdOpenMenu($event)" aria-label="Open menu" class="md-icon-button fp-md-menu-button md-button md-ink-ripple" type="button" ng-transclude="">
            <img src="https://www.gstatic.com/images/icons/material/system/2x/more_vert_grey600_24dp.png" alt="Opens in new tab" width="24">
          </button>
          
        <div aria-hidden="true" id="menu_container_179" style="display: none;" class="_md md-open-menu-container md-whiteframe-z2"><md-menu-content role="menu" class="history-overflow-menu">
            <md-menu-item>
              <button role="menuitem" aria-label="Details" ng-click="::ctrl.viewItemDetails(item)" class="md-button md-ink-ripple" type="button" ng-transclude=""><span>
                Details
              </span></button>
            </md-menu-item>
            <md-menu-item>
              <button role="menuitem" aria-label="Delete" ng-click="::deleteItem(item)" class="md-button md-ink-ripple" type="button" ng-transclude=""><span>
                Delete
              </span></button>
            </md-menu-item>
          </md-menu-content></div></md-menu>
      </div><!---->
    </div>
  </div><!---->
  <div layout="row" layout-align="space-between" ng-init="::(block = item.getParent())" class="fp-display-block layout-align-space-between-stretch layout-row">
    <div class="fp-display-block-text-holder layout-align-space-between-stretch layout-column flex" layout="column" layout-align="space-between left" flex="">
      <div class="layout-column" layout="column">
        <!---->
        <!----><h4 ng-if="::!detailsItem" class="fp-display-block-title t08">
          Watched
          <!----><a href="https://www.youtube.com/watch?v=hnp1f6vkBok" ng-if="::!!block.getTitleInfo().getUrl()" ng-href="https://www.youtube.com/watch?v=hnp1f6vkBok" ng-click="::ctrl.playVideo(block.getYoutubeInfo().getVideoId())" target="_blank">
            DMP Series 1 - Adobe Audience Manager
          </a><!---->
          <!---->
        </h4><!---->
        <!----><div ng-if="::!!block.getYoutubeInfo()">
          <div class="fp-display-block-yt-channel t10 g6">
            DBi Youtube
          </div>
        </div><!---->
        <div>
          <!---->
        </div>
        <!---->
      </div>
      <!----><div tabindex="0" role="button" ng-if="::!detailsItem" class="fp-display-block-details t12 g6 layout-align-start-center layout-row" ng-click="::ctrl.viewItemDetails(item)" layout="row" layout-align="left center">
        <!----><span ng-if="::!summaryItem">9:48 PM</span><!---->
        <!----><span ng-if="::!summaryItem">•</span><!---->
        <span class="fp-display-block-details-string">
          Details
        </span>
        <!---->
        <!---->
        <!---->
        <!---->
      </div><!---->
    </div>
    <!---->
    <!----><a href="https://www.youtube.com/watch?v=hnp1f6vkBok" ng-if="::!!(block.getYoutubeInfo() &amp;&amp; block.getYoutubeInfo().getThumbnail())" ng-href="https://www.youtube.com/watch?v=hnp1f6vkBok" ng-click="::ctrl.playVideo(block.getYoutubeInfo().getVideoId())" target="_blank" class="fp-display-block-video-holder">
      <div class="fp-display-block-video">
        <img src="https://i.ytimg.com/vi/hnp1f6vkBok/mqdefault.jpg" class="fp-display-block-video-thumbnail" ng-src="https://i.ytimg.com/vi/hnp1f6vkBok/mqdefault.jpg" alt="" height="72" width="128">
        <div class="fp-display-item-yt-play">
          <img src="https://www.gstatic.com/images/icons/material/system/2x/play_circle_filled_white_36dp.png" heigth="36" width="36">
        </div>
        <!----><div class="fp-display-item-yt-duration" ng-if="::!!block.getYoutubeInfo().getVideoDuration()">
          23:34
        </div><!---->
      </div>
    </a><!---->
    <!---->
  </div>
  <!---->
  <!---->
</md-card-content>
</hist-display-item>
    </md-card>
  </div>
<!---->
</div>
</div><!----><div ng-repeat="item in dateBlock.items track by item.getDeleteParam()" class="fp-display-item-holder">
  <div ng-class="::{'swipe-holder': enableCardSwipe}" ng-attr-card-swipe="::enableCardSwipe" delete-cluster="::deleteItem({item: item})" select-card="::selectItem({item: item})"><div class="swipe-div" ng-transclude="">
    <md-card class="fp-display-item-card _md">
      <hist-display-item item="::item" display-checkboxes="displayCheckboxes" delete-item="deleteItem({item: item})" selected="itemSelected({item: item, date: dateBlock.date})" select-item="selectItem({item: item})"><!---->
<md-card-content class="fp-display-item layout-column" layout="column" ng-class="::{'fp-display-item-summary-item': (summaryItem || detailsItem)}">
  <!----><div class="fp-display-item-header" ng-if="::!summaryItem">
    <div layout="row" layout-align="center center" class="fp-display-item-title-holder layout-align-center-center layout-row">
      <div>
        <img src="https://www.gstatic.com/images/branding/product/2x/youtube_24dp.png" class="fp-display-item-title-icon" ng-src="https://www.gstatic.com/images/branding/product/2x/youtube_24dp.png" alt="">
        <!----><div class="fp-checkbox-holder fp-display-item-checkbox-holder" ng-if="::(!detailsItem &amp;&amp; !hideHoverCheckboxes)">
          <div tabindex="0" role="button" class="fp-fake-checkbox" ng-click="::selectItem()"></div>
        </div><!---->
        <!---->
      </div>
      <!---->
      <!----><div tabindex="0" role="button" class="fp-display-item-title t10 g6 flex" ng-if="::!detailsItem" flex="" ng-click="::ctrl.viewItemDetails(item)">
        YouTube
      </div><!---->
      <!----><div class="fp-display-item-overflow" ng-if="::!detailsItem">
        <md-menu md-position-mode="target-right bottom" class="md-menu _md" ng-attr-md-position-mode="{{'target-right bottom' | rtlMenuPosition}}">
          <button aria-owns="menu_container_180" aria-expanded="false" aria-haspopup="true" ng-click="::$mdOpenMenu($event)" aria-label="Open menu" class="md-icon-button fp-md-menu-button md-button md-ink-ripple" type="button" ng-transclude="">
            <img src="https://www.gstatic.com/images/icons/material/system/2x/more_vert_grey600_24dp.png" alt="Opens in new tab" width="24">
          </button>
          
        <div aria-hidden="true" id="menu_container_180" style="display: none;" class="_md md-open-menu-container md-whiteframe-z2"><md-menu-content role="menu" class="history-overflow-menu">
            <md-menu-item>
              <button role="menuitem" aria-label="Details" ng-click="::ctrl.viewItemDetails(item)" class="md-button md-ink-ripple" type="button" ng-transclude=""><span>
                Details
              </span></button>
            </md-menu-item>
            <md-menu-item>
              <button role="menuitem" aria-label="Delete" ng-click="::deleteItem(item)" class="md-button md-ink-ripple" type="button" ng-transclude=""><span>
                Delete
              </span></button>
            </md-menu-item>
          </md-menu-content></div></md-menu>
      </div><!---->
    </div>
  </div><!---->
  <div layout="row" layout-align="space-between" ng-init="::(block = item.getParent())" class="fp-display-block layout-align-space-between-stretch layout-row">
    <div class="fp-display-block-text-holder layout-align-space-between-stretch layout-column flex" layout="column" layout-align="space-between left" flex="">
      <div class="layout-column" layout="column">
        <!---->
        <!----><h4 ng-if="::!detailsItem" class="fp-display-block-title t08">
          Watched
          <!----><a href="https://www.youtube.com/watch?v=Z64K-xOE6Bc" ng-if="::!!block.getTitleInfo().getUrl()" ng-href="https://www.youtube.com/watch?v=Z64K-xOE6Bc" ng-click="::ctrl.playVideo(block.getYoutubeInfo().getVideoId())" target="_blank">
            Ask the CEO: What are the challenges of running a global company?
          </a><!---->
          <!---->
        </h4><!---->
        <!----><div ng-if="::!!block.getYoutubeInfo()">
          <div class="fp-display-block-yt-channel t10 g6">
            SurveyMe
          </div>
        </div><!---->
        <div>
          <!---->
        </div>
        <!---->
      </div>
      <!----><div tabindex="0" role="button" ng-if="::!detailsItem" class="fp-display-block-details t12 g6 layout-align-start-center layout-row" ng-click="::ctrl.viewItemDetails(item)" layout="row" layout-align="left center">
        <!----><span ng-if="::!summaryItem">9:48 PM</span><!---->
        <!----><span ng-if="::!summaryItem">•</span><!---->
        <span class="fp-display-block-details-string">
          Details
        </span>
        <!---->
        <!---->
        <!---->
        <!---->
      </div><!---->
    </div>
    <!---->
    <!----><a href="https://www.youtube.com/watch?v=Z64K-xOE6Bc" ng-if="::!!(block.getYoutubeInfo() &amp;&amp; block.getYoutubeInfo().getThumbnail())" ng-href="https://www.youtube.com/watch?v=Z64K-xOE6Bc" ng-click="::ctrl.playVideo(block.getYoutubeInfo().getVideoId())" target="_blank" class="fp-display-block-video-holder">
      <div class="fp-display-block-video">
        <img src="https://i.ytimg.com/vi/Z64K-xOE6Bc/mqdefault.jpg" class="fp-display-block-video-thumbnail" ng-src="https://i.ytimg.com/vi/Z64K-xOE6Bc/mqdefault.jpg" alt="" height="72" width="128">
        <div class="fp-display-item-yt-play">
          <img src="https://www.gstatic.com/images/icons/material/system/2x/play_circle_filled_white_36dp.png" heigth="36" width="36">
        </div>
        <!----><div class="fp-display-item-yt-duration" ng-if="::!!block.getYoutubeInfo().getVideoDuration()">
          1:08
        </div><!---->
      </div>
    </a><!---->
    <!---->
  </div>
  <!---->
  <!---->
</md-card-content>
</hist-display-item>
    </md-card>
  </div>
<!---->
</div>
</div><!----><div ng-repeat="item in dateBlock.items track by item.getDeleteParam()" class="fp-display-item-holder">
  <div ng-class="::{'swipe-holder': enableCardSwipe}" ng-attr-card-swipe="::enableCardSwipe" delete-cluster="::deleteItem({item: item})" select-card="::selectItem({item: item})"><div class="swipe-div" ng-transclude="">
    <md-card class="fp-display-item-card _md">
      <hist-display-item item="::item" display-checkboxes="displayCheckboxes" delete-item="deleteItem({item: item})" selected="itemSelected({item: item, date: dateBlock.date})" select-item="selectItem({item: item})"><!---->
<md-card-content class="fp-display-item layout-column" layout="column" ng-class="::{'fp-display-item-summary-item': (summaryItem || detailsItem)}">
  <!----><div class="fp-display-item-header" ng-if="::!summaryItem">
    <div layout="row" layout-align="center center" class="fp-display-item-title-holder layout-align-center-center layout-row">
      <div>
        <img src="https://www.gstatic.com/images/branding/product/2x/youtube_24dp.png" class="fp-display-item-title-icon" ng-src="https://www.gstatic.com/images/branding/product/2x/youtube_24dp.png" alt="">
        <!----><div class="fp-checkbox-holder fp-display-item-checkbox-holder" ng-if="::(!detailsItem &amp;&amp; !hideHoverCheckboxes)">
          <div tabindex="0" role="button" class="fp-fake-checkbox" ng-click="::selectItem()"></div>
        </div><!---->
        <!---->
      </div>
      <!---->
      <!----><div tabindex="0" role="button" class="fp-display-item-title t10 g6 flex" ng-if="::!detailsItem" flex="" ng-click="::ctrl.viewItemDetails(item)">
        YouTube
      </div><!---->
      <!----><div class="fp-display-item-overflow" ng-if="::!detailsItem">
        <md-menu md-position-mode="target-right bottom" class="md-menu _md" ng-attr-md-position-mode="{{'target-right bottom' | rtlMenuPosition}}">
          <button aria-owns="menu_container_181" aria-expanded="false" aria-haspopup="true" ng-click="::$mdOpenMenu($event)" aria-label="Open menu" class="md-icon-button fp-md-menu-button md-button md-ink-ripple" type="button" ng-transclude="">
            <img src="https://www.gstatic.com/images/icons/material/system/2x/more_vert_grey600_24dp.png" alt="Opens in new tab" width="24">
          </button>
          
        <div aria-hidden="true" id="menu_container_181" style="display: none;" class="_md md-open-menu-container md-whiteframe-z2"><md-menu-content role="menu" class="history-overflow-menu">
            <md-menu-item>
              <button role="menuitem" aria-label="Details" ng-click="::ctrl.viewItemDetails(item)" class="md-button md-ink-ripple" type="button" ng-transclude=""><span>
                Details
              </span></button>
            </md-menu-item>
            <md-menu-item>
              <button role="menuitem" aria-label="Delete" ng-click="::deleteItem(item)" class="md-button md-ink-ripple" type="button" ng-transclude=""><span>
                Delete
              </span></button>
            </md-menu-item>
          </md-menu-content></div></md-menu>
      </div><!---->
    </div>
  </div><!---->
  <div layout="row" layout-align="space-between" ng-init="::(block = item.getParent())" class="fp-display-block layout-align-space-between-stretch layout-row">
    <div class="fp-display-block-text-holder layout-align-space-between-stretch layout-column flex" layout="column" layout-align="space-between left" flex="">
      <div class="layout-column" layout="column">
        <!---->
        <!----><h4 ng-if="::!detailsItem" class="fp-display-block-title t08">
          Watched
          <!----><a href="https://www.youtube.com/watch?v=QzyeO9l607E" ng-if="::!!block.getTitleInfo().getUrl()" ng-href="https://www.youtube.com/watch?v=QzyeO9l607E" ng-click="::ctrl.playVideo(block.getYoutubeInfo().getVideoId())" target="_blank">
            Meet Amazon’s HR Services Prague Team
          </a><!---->
          <!---->
        </h4><!---->
        <!----><div ng-if="::!!block.getYoutubeInfo()">
          <div class="fp-display-block-yt-channel t10 g6">
            Inside Amazon Videos
          </div>
        </div><!---->
        <div>
          <!---->
        </div>
        <!---->
      </div>
      <!----><div tabindex="0" role="button" ng-if="::!detailsItem" class="fp-display-block-details t12 g6 layout-align-start-center layout-row" ng-click="::ctrl.viewItemDetails(item)" layout="row" layout-align="left center">
        <!----><span ng-if="::!summaryItem">9:47 PM</span><!---->
        <!----><span ng-if="::!summaryItem">•</span><!---->
        <span class="fp-display-block-details-string">
          Details
        </span>
        <!---->
        <!---->
        <!---->
        <!---->
      </div><!---->
    </div>
    <!---->
    <!----><a href="https://www.youtube.com/watch?v=QzyeO9l607E" ng-if="::!!(block.getYoutubeInfo() &amp;&amp; block.getYoutubeInfo().getThumbnail())" ng-href="https://www.youtube.com/watch?v=QzyeO9l607E" ng-click="::ctrl.playVideo(block.getYoutubeInfo().getVideoId())" target="_blank" class="fp-display-block-video-holder">
      <div class="fp-display-block-video">
        <img src="https://i.ytimg.com/vi/QzyeO9l607E/mqdefault.jpg" class="fp-display-block-video-thumbnail" ng-src="https://i.ytimg.com/vi/QzyeO9l607E/mqdefault.jpg" alt="" height="72" width="128">
        <div class="fp-display-item-yt-play">
          <img src="https://www.gstatic.com/images/icons/material/system/2x/play_circle_filled_white_36dp.png" heigth="36" width="36">
        </div>
        <!----><div class="fp-display-item-yt-duration" ng-if="::!!block.getYoutubeInfo().getVideoDuration()">
          5:48
        </div><!---->
      </div>
    </a><!---->
    <!---->
  </div>
  <!---->
  <!---->
</md-card-content>
</hist-display-item>
    </md-card>
  </div>
<!---->
</div>
</div><!----><div ng-repeat="item in dateBlock.items track by item.getDeleteParam()" class="fp-display-item-holder">
  <div ng-class="::{'swipe-holder': enableCardSwipe}" ng-attr-card-swipe="::enableCardSwipe" delete-cluster="::deleteItem({item: item})" select-card="::selectItem({item: item})"><div class="swipe-div" ng-transclude="">
    <md-card class="fp-display-item-card _md">
      <hist-display-item item="::item" display-checkboxes="displayCheckboxes" delete-item="deleteItem({item: item})" selected="itemSelected({item: item, date: dateBlock.date})" select-item="selectItem({item: item})"><!---->
<md-card-content class="fp-display-item layout-column" layout="column" ng-class="::{'fp-display-item-summary-item': (summaryItem || detailsItem)}">
  <!----><div class="fp-display-item-header" ng-if="::!summaryItem">
    <div layout="row" layout-align="center center" class="fp-display-item-title-holder layout-align-center-center layout-row">
      <div>
        <img src="https://www.gstatic.com/images/branding/product/2x/youtube_24dp.png" class="fp-display-item-title-icon" ng-src="https://www.gstatic.com/images/branding/product/2x/youtube_24dp.png" alt="">
        <!----><div class="fp-checkbox-holder fp-display-item-checkbox-holder" ng-if="::(!detailsItem &amp;&amp; !hideHoverCheckboxes)">
          <div tabindex="0" role="button" class="fp-fake-checkbox" ng-click="::selectItem()"></div>
        </div><!---->
        <!---->
      </div>
      <!---->
      <!----><div tabindex="0" role="button" class="fp-display-item-title t10 g6 flex" ng-if="::!detailsItem" flex="" ng-click="::ctrl.viewItemDetails(item)">
        YouTube
      </div><!---->
      <!----><div class="fp-display-item-overflow" ng-if="::!detailsItem">
        <md-menu md-position-mode="target-right bottom" class="md-menu _md" ng-attr-md-position-mode="{{'target-right bottom' | rtlMenuPosition}}">
          <button aria-owns="menu_container_182" aria-expanded="false" aria-haspopup="true" ng-click="::$mdOpenMenu($event)" aria-label="Open menu" class="md-icon-button fp-md-menu-button md-button md-ink-ripple" type="button" ng-transclude="">
            <img src="https://www.gstatic.com/images/icons/material/system/2x/more_vert_grey600_24dp.png" alt="Opens in new tab" width="24">
          </button>
          
        <div aria-hidden="true" id="menu_container_182" style="display: none;" class="_md md-open-menu-container md-whiteframe-z2"><md-menu-content role="menu" class="history-overflow-menu">
            <md-menu-item>
              <button role="menuitem" aria-label="Details" ng-click="::ctrl.viewItemDetails(item)" class="md-button md-ink-ripple" type="button" ng-transclude=""><span>
                Details
              </span></button>
            </md-menu-item>
            <md-menu-item>
              <button role="menuitem" aria-label="Delete" ng-click="::deleteItem(item)" class="md-button md-ink-ripple" type="button" ng-transclude=""><span>
                Delete
              </span></button>
            </md-menu-item>
          </md-menu-content></div></md-menu>
      </div><!---->
    </div>
  </div><!---->
  <div layout="row" layout-align="space-between" ng-init="::(block = item.getParent())" class="fp-display-block layout-align-space-between-stretch layout-row">
    <div class="fp-display-block-text-holder layout-align-space-between-stretch layout-column flex" layout="column" layout-align="space-between left" flex="">
      <div class="layout-column" layout="column">
        <!---->
        <!----><h4 ng-if="::!detailsItem" class="fp-display-block-title t08">
          Watched
          <!----><a href="https://www.youtube.com/watch?v=YETnZr-mS_k" ng-if="::!!block.getTitleInfo().getUrl()" ng-href="https://www.youtube.com/watch?v=YETnZr-mS_k" ng-click="::ctrl.playVideo(block.getYoutubeInfo().getVideoId())" target="_blank">
            Frank Abagnale - How has fraud changed over time? | Experian UK Business
          </a><!---->
          <!---->
        </h4><!---->
        <!----><div ng-if="::!!block.getYoutubeInfo()">
          <div class="fp-display-block-yt-channel t10 g6">
            Experian UK Business
          </div>
        </div><!---->
        <div>
          <!---->
        </div>
        <!---->
      </div>
      <!----><div tabindex="0" role="button" ng-if="::!detailsItem" class="fp-display-block-details t12 g6 layout-align-start-center layout-row" ng-click="::ctrl.viewItemDetails(item)" layout="row" layout-align="left center">
        <!----><span ng-if="::!summaryItem">9:46 PM</span><!---->
        <!----><span ng-if="::!summaryItem">•</span><!---->
        <span class="fp-display-block-details-string">
          Details
        </span>
        <!---->
        <!---->
        <!---->
        <!---->
      </div><!---->
    </div>
    <!---->
    <!----><a href="https://www.youtube.com/watch?v=YETnZr-mS_k" ng-if="::!!(block.getYoutubeInfo() &amp;&amp; block.getYoutubeInfo().getThumbnail())" ng-href="https://www.youtube.com/watch?v=YETnZr-mS_k" ng-click="::ctrl.playVideo(block.getYoutubeInfo().getVideoId())" target="_blank" class="fp-display-block-video-holder">
      <div class="fp-display-block-video">
        <img src="https://i.ytimg.com/vi/YETnZr-mS_k/mqdefault.jpg" class="fp-display-block-video-thumbnail" ng-src="https://i.ytimg.com/vi/YETnZr-mS_k/mqdefault.jpg" alt="" height="72" width="128">
        <div class="fp-display-item-yt-play">
          <img src="https://www.gstatic.com/images/icons/material/system/2x/play_circle_filled_white_36dp.png" heigth="36" width="36">
        </div>
        <!----><div class="fp-display-item-yt-duration" ng-if="::!!block.getYoutubeInfo().getVideoDuration()">
          1:29
        </div><!---->
      </div>
    </a><!---->
    <!---->
  </div>
  <!---->
  <!---->
</md-card-content>
</hist-display-item>
    </md-card>
  </div>
<!---->
</div>
</div><!----><div ng-repeat="item in dateBlock.items track by item.getDeleteParam()" class="fp-display-item-holder">
  <div ng-class="::{'swipe-holder': enableCardSwipe}" ng-attr-card-swipe="::enableCardSwipe" delete-cluster="::deleteItem({item: item})" select-card="::selectItem({item: item})"><div class="swipe-div" ng-transclude="">
    <md-card class="fp-display-item-card _md">
      <hist-display-item item="::item" display-checkboxes="displayCheckboxes" delete-item="deleteItem({item: item})" selected="itemSelected({item: item, date: dateBlock.date})" select-item="selectItem({item: item})"><!---->
<md-card-content class="fp-display-item layout-column" layout="column" ng-class="::{'fp-display-item-summary-item': (summaryItem || detailsItem)}">
  <!----><div class="fp-display-item-header" ng-if="::!summaryItem">
    <div layout="row" layout-align="center center" class="fp-display-item-title-holder layout-align-center-center layout-row">
      <div>
        <img src="https://www.gstatic.com/images/branding/product/2x/youtube_24dp.png" class="fp-display-item-title-icon" ng-src="https://www.gstatic.com/images/branding/product/2x/youtube_24dp.png" alt="">
        <!----><div class="fp-checkbox-holder fp-display-item-checkbox-holder" ng-if="::(!detailsItem &amp;&amp; !hideHoverCheckboxes)">
          <div tabindex="0" role="button" class="fp-fake-checkbox" ng-click="::selectItem()"></div>
        </div><!---->
        <!---->
      </div>
      <!---->
      <!----><div tabindex="0" role="button" class="fp-display-item-title t10 g6 flex" ng-if="::!detailsItem" flex="" ng-click="::ctrl.viewItemDetails(item)">
        YouTube
      </div><!---->
      <!----><div class="fp-display-item-overflow" ng-if="::!detailsItem">
        <md-menu md-position-mode="target-right bottom" class="md-menu _md" ng-attr-md-position-mode="{{'target-right bottom' | rtlMenuPosition}}">
          <button aria-owns="menu_container_183" aria-expanded="false" aria-haspopup="true" ng-click="::$mdOpenMenu($event)" aria-label="Open menu" class="md-icon-button fp-md-menu-button md-button md-ink-ripple" type="button" ng-transclude="">
            <img src="https://www.gstatic.com/images/icons/material/system/2x/more_vert_grey600_24dp.png" alt="Opens in new tab" width="24">
          </button>
          
        <div aria-hidden="true" id="menu_container_183" style="display: none;" class="_md md-open-menu-container md-whiteframe-z2"><md-menu-content role="menu" class="history-overflow-menu">
            <md-menu-item>
              <button role="menuitem" aria-label="Details" ng-click="::ctrl.viewItemDetails(item)" class="md-button md-ink-ripple" type="button" ng-transclude=""><span>
                Details
              </span></button>
            </md-menu-item>
            <md-menu-item>
              <button role="menuitem" aria-label="Delete" ng-click="::deleteItem(item)" class="md-button md-ink-ripple" type="button" ng-transclude=""><span>
                Delete
              </span></button>
            </md-menu-item>
          </md-menu-content></div></md-menu>
      </div><!---->
    </div>
  </div><!---->
  <div layout="row" layout-align="space-between" ng-init="::(block = item.getParent())" class="fp-display-block layout-align-space-between-stretch layout-row">
    <div class="fp-display-block-text-holder layout-align-space-between-stretch layout-column flex" layout="column" layout-align="space-between left" flex="">
      <div class="layout-column" layout="column">
        <!---->
        <!----><h4 ng-if="::!detailsItem" class="fp-display-block-title t08">
          Watched
          <!----><a href="https://www.youtube.com/watch?v=KpXEsrjcj6Y" ng-if="::!!block.getTitleInfo().getUrl()" ng-href="https://www.youtube.com/watch?v=KpXEsrjcj6Y" ng-click="::ctrl.playVideo(block.getYoutubeInfo().getVideoId())" target="_blank">
            Meet the Alexa Software Team
          </a><!---->
          <!---->
        </h4><!---->
        <!----><div ng-if="::!!block.getYoutubeInfo()">
          <div class="fp-display-block-yt-channel t10 g6">
            Inside Amazon Videos
          </div>
        </div><!---->
        <div>
          <!---->
        </div>
        <!---->
      </div>
      <!----><div tabindex="0" role="button" ng-if="::!detailsItem" class="fp-display-block-details t12 g6 layout-align-start-center layout-row" ng-click="::ctrl.viewItemDetails(item)" layout="row" layout-align="left center">
        <!----><span ng-if="::!summaryItem">9:45 PM</span><!---->
        <!----><span ng-if="::!summaryItem">•</span><!---->
        <span class="fp-display-block-details-string">
          Details
        </span>
        <!---->
        <!---->
        <!---->
        <!---->
      </div><!---->
    </div>
    <!---->
    <!----><a href="https://www.youtube.com/watch?v=KpXEsrjcj6Y" ng-if="::!!(block.getYoutubeInfo() &amp;&amp; block.getYoutubeInfo().getThumbnail())" ng-href="https://www.youtube.com/watch?v=KpXEsrjcj6Y" ng-click="::ctrl.playVideo(block.getYoutubeInfo().getVideoId())" target="_blank" class="fp-display-block-video-holder">
      <div class="fp-display-block-video">
        <img src="https://i.ytimg.com/vi/KpXEsrjcj6Y/mqdefault.jpg" class="fp-display-block-video-thumbnail" ng-src="https://i.ytimg.com/vi/KpXEsrjcj6Y/mqdefault.jpg" alt="" height="72" width="128">
        <div class="fp-display-item-yt-play">
          <img src="https://www.gstatic.com/images/icons/material/system/2x/play_circle_filled_white_36dp.png" heigth="36" width="36">
        </div>
        <!----><div class="fp-display-item-yt-duration" ng-if="::!!block.getYoutubeInfo().getVideoDuration()">
          2:31
        </div><!---->
      </div>
    </a><!---->
    <!---->
  </div>
  <!---->
  <!---->
</md-card-content>
</hist-display-item>
    </md-card>
  </div>
<!---->
</div>
</div><!----><div ng-repeat="item in dateBlock.items track by item.getDeleteParam()" class="fp-display-item-holder">
  <div ng-class="::{'swipe-holder': enableCardSwipe}" ng-attr-card-swipe="::enableCardSwipe" delete-cluster="::deleteItem({item: item})" select-card="::selectItem({item: item})"><div class="swipe-div" ng-transclude="">
    <md-card class="fp-display-item-card _md">
      <hist-display-item item="::item" display-checkboxes="displayCheckboxes" delete-item="deleteItem({item: item})" selected="itemSelected({item: item, date: dateBlock.date})" select-item="selectItem({item: item})"><!---->
<md-card-content class="fp-display-item layout-column" layout="column" ng-class="::{'fp-display-item-summary-item': (summaryItem || detailsItem)}">
  <!----><div class="fp-display-item-header" ng-if="::!summaryItem">
    <div layout="row" layout-align="center center" class="fp-display-item-title-holder layout-align-center-center layout-row">
      <div>
        <img src="https://www.gstatic.com/images/branding/product/2x/youtube_24dp.png" class="fp-display-item-title-icon" ng-src="https://www.gstatic.com/images/branding/product/2x/youtube_24dp.png" alt="">
        <!----><div class="fp-checkbox-holder fp-display-item-checkbox-holder" ng-if="::(!detailsItem &amp;&amp; !hideHoverCheckboxes)">
          <div tabindex="0" role="button" class="fp-fake-checkbox" ng-click="::selectItem()"></div>
        </div><!---->
        <!---->
      </div>
      <!---->
      <!----><div tabindex="0" role="button" class="fp-display-item-title t10 g6 flex" ng-if="::!detailsItem" flex="" ng-click="::ctrl.viewItemDetails(item)">
        YouTube
      </div><!---->
      <!----><div class="fp-display-item-overflow" ng-if="::!detailsItem">
        <md-menu md-position-mode="target-right bottom" class="md-menu _md" ng-attr-md-position-mode="{{'target-right bottom' | rtlMenuPosition}}">
          <button aria-owns="menu_container_184" aria-expanded="false" aria-haspopup="true" ng-click="::$mdOpenMenu($event)" aria-label="Open menu" class="md-icon-button fp-md-menu-button md-button md-ink-ripple" type="button" ng-transclude="">
            <img src="https://www.gstatic.com/images/icons/material/system/2x/more_vert_grey600_24dp.png" alt="Opens in new tab" width="24">
          </button>
          
        <div aria-hidden="true" id="menu_container_184" style="display: none;" class="_md md-open-menu-container md-whiteframe-z2"><md-menu-content role="menu" class="history-overflow-menu">
            <md-menu-item>
              <button role="menuitem" aria-label="Details" ng-click="::ctrl.viewItemDetails(item)" class="md-button md-ink-ripple" type="button" ng-transclude=""><span>
                Details
              </span></button>
            </md-menu-item>
            <md-menu-item>
              <button role="menuitem" aria-label="Delete" ng-click="::deleteItem(item)" class="md-button md-ink-ripple" type="button" ng-transclude=""><span>
                Delete
              </span></button>
            </md-menu-item>
          </md-menu-content></div></md-menu>
      </div><!---->
    </div>
  </div><!---->
  <div layout="row" layout-align="space-between" ng-init="::(block = item.getParent())" class="fp-display-block layout-align-space-between-stretch layout-row">
    <div class="fp-display-block-text-holder layout-align-space-between-stretch layout-column flex" layout="column" layout-align="space-between left" flex="">
      <div class="layout-column" layout="column">
        <!---->
        <!----><h4 ng-if="::!detailsItem" class="fp-display-block-title t08">
          Watched
          <!----><a href="https://www.youtube.com/watch?v=4KQimVkdN8E" ng-if="::!!block.getTitleInfo().getUrl()" ng-href="https://www.youtube.com/watch?v=4KQimVkdN8E" ng-click="::ctrl.playVideo(block.getYoutubeInfo().getVideoId())" target="_blank">
            One Experian
          </a><!---->
          <!---->
        </h4><!---->
        <!----><div ng-if="::!!block.getYoutubeInfo()">
          <div class="fp-display-block-yt-channel t10 g6">
            ExperianSME
          </div>
        </div><!---->
        <div>
          <!---->
        </div>
        <!---->
      </div>
      <!----><div tabindex="0" role="button" ng-if="::!detailsItem" class="fp-display-block-details t12 g6 layout-align-start-center layout-row" ng-click="::ctrl.viewItemDetails(item)" layout="row" layout-align="left center">
        <!----><span ng-if="::!summaryItem">9:30 PM</span><!---->
        <!----><span ng-if="::!summaryItem">•</span><!---->
        <span class="fp-display-block-details-string">
          Details
        </span>
        <!---->
        <!---->
        <!---->
        <!---->
      </div><!---->
    </div>
    <!---->
    <!----><a href="https://www.youtube.com/watch?v=4KQimVkdN8E" ng-if="::!!(block.getYoutubeInfo() &amp;&amp; block.getYoutubeInfo().getThumbnail())" ng-href="https://www.youtube.com/watch?v=4KQimVkdN8E" ng-click="::ctrl.playVideo(block.getYoutubeInfo().getVideoId())" target="_blank" class="fp-display-block-video-holder">
      <div class="fp-display-block-video">
        <img src="https://i.ytimg.com/vi/4KQimVkdN8E/mqdefault.jpg" class="fp-display-block-video-thumbnail" ng-src="https://i.ytimg.com/vi/4KQimVkdN8E/mqdefault.jpg" alt="" height="72" width="128">
        <div class="fp-display-item-yt-play">
          <img src="https://www.gstatic.com/images/icons/material/system/2x/play_circle_filled_white_36dp.png" heigth="36" width="36">
        </div>
        <!----><div class="fp-display-item-yt-duration" ng-if="::!!block.getYoutubeInfo().getVideoDuration()">
          1:47
        </div><!---->
      </div>
    </a><!---->
    <!---->
  </div>
  <!---->
  <!---->
</md-card-content>
</hist-display-item>